# Virtual environment
my_venv/

# Python cache files
__pycache__/
*.pyc

# Environment variables file
.env

# IDE/editor specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
*.log
