<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HackTheRealm</title>
    
        <!-- Tailwind CSS (from CDN for simplicity) -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
        <script src="https://cdn.tailwindcss.com"></script>
    
        <!-- Custom Styles (if any) -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
        <!-- Dark Mode Script -->
        <script>
            if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark');
            } else {
                document.documentElement.classList.add('dark');
            }
        </script>
    </head>    
<body>

    {% include 'components/navbar_user.html' %}


<!-- Banner Page-->
<div id="page_banner_static">
    <p id="page_banner_static_text" class="text-3xl font-semibold text-gray-900 dark:text-white">
        Path
    </p>
</div>

<!-- main-container -->
<div>
    <!-- catagory text -->
        <div id="comepte-banner-main-container" class="w-full h-auto bg-gradient-to-t from-blue-900 to-indigo-950">
        <div>
            <p class="text-4xl font-bold leading-normal text-gray-900 dark:text-white text-center">ISO 20017</p>
            <p class="text-xl font-base leading-normal text-gray-900 dark:text-white text-center">Discover ISO 27001, the global standard for information security management systems.. 
            <br> Join RoC now and compete with other.</p>
        </div>
        <div>
            <img src="/Resource/Icon/Logo-ISO-27001.png" alt="CTF" class="h-60 max-w-lg mx-auto">
        </div>

    </div>
    <!-- Path -->
    <div id="show-your-path" class="p-40">
        <div id="show-your-path-slide">
            <div id="text-show-new-release">
                <p class="underline decoration-lime-400 text-4xl font-semibold text-gray-900 dark:text-gray-900">Your Path</p>
            </div>
            <div id="show-your-path-slide-courses" class="w-full p-4 bg-white border border-gray-200 rounded-lg sm:p-8 dark:bg-transparent ">
                <div class="flex items-center justify-between mb-4">
                    <h5 class="text-xl font-bold leading-none text-gray-900 dark:text-gray-800">Current path</h5>

                    <div class="w-40 bg-gray-200 rounded-full dark:bg-gray-500">
                        <div class="bg-blue-500 text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full" style="width: 25%"> 25%</div>
                      </div>
                    
               </div>
               <div class="flow-root">
                    <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">                               
                        <li class="py-3 sm:py-4 dark:hover:bg-gray-300">
                            <a href="#">
                                <div  class="flex items-center">
                                    <span class="flex w-8 h-8 me-3 bg-blue-600 rounded-full"></span>
                                    <div class="flex-shrink-0">
                                        <img class="w-10 h-10" src="/Resource/Icon/cyber-security-foundation.png" alt="Neil image">
                                    </div>
                                    <div class="flex-1 min-w-0 ms-4">
                                        
                                        <p id="show-path-course-name" class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                            Cyber fundamentals
                                        </p>
                                        <p id="show-path-course-description" class="text-sm text-gray-500 truncate dark:text-gray-400">
                                            Knowing every pathway before walk is great.
                                        </p>
                                    </div>
                                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">

                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="py-3 sm:py-4 dark:hover:bg-gray-300">
                            <a href="#">
                                <div class="flex items-center ">
                                    <span class="flex w-8 h-8 me-3 bg-gray-600 rounded-full"></span>
                                    <div class="flex-shrink-0">
                                        <img class="w-10 h-10" src="/Resource/Icon/type of cyber attack.png" alt="Bonnie image">
                                    </div>
                                    <div class="flex-1 min-w-0 ms-4">
                                        <p id="show-path-course-name" class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                            Basic type of Cyber Attack
                                        </p>
                                        <p id="show-path-course-description" class="text-sm text-gray-500 truncate dark:text-gray-400">
                                            Basic tactical of hacker.
                                        </p>
                                    </div>
                                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">

                                    </div>
                                </div>
                            </a>  
                        </li>
                        <li class="py-3 sm:py-4 dark:hover:bg-gray-300">
                            <a href="#">
                                <div class="flex items-center">
                                    <span class="flex w-8 h-8 me-3 bg-gray-600 rounded-full"></span>

                                    <div class="flex-shrink-0">
                                        <img class="w-10 h-10" src="/Resource/Icon/type of cyber attack adv.png" alt="Michael image">
                                    </div>
                                    <div class="flex-1 min-w-0 ms-4">
                                        <p id="show-path-course-name" class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                            Advance type of Cyber Attack
                                        </p>
                                        <p id="show-path-course-description"  class="text-sm text-gray-500 truncate dark:text-gray-400">
                                            Advance tactical of hacker.
                                        </p>
                                    </div>
                                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">

                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="py-3 sm:py-4 dark:hover:bg-gray-300">
                            <a href="#">
                                <div class="flex items-center ">
                                    <span class="flex w-8 h-8 me-3 bg-gray-600 rounded-full"></span>

                                    <div class="flex-shrink-0">
                                        <img class="w-10 h-10" src="/Resource/Icon/CIA icon.png" alt="Lana image">
                                    </div>
                                    <div class="flex-1 min-w-0 ms-4">
                                        <p id="show-path-course-name" class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                            CIA Threat
                                        </p>
                                        <p id="show-path-course-description"  class="text-sm text-gray-500 truncate dark:text-gray-400">
                                            The 3 Important component of Cybersecurity (CIA).
                                        </p>
                                    </div>
                                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">

                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="pt-3 pb-0 sm:pt-4 dark:hover:bg-gray-300">
                                <a href="#" >
                                <div class="flex items-center ">
                                    <span class="flex w-8 h-8 me-3 bg-gray-600 rounded-full"></span>

                                    <div class="flex-shrink-0">
                                        <img class="w-10 h-10" src="/Resource/Icon/CTF Icon.png" alt="Thomas image">
                                    </div>
                                    <div class="flex-1 min-w-0 ms-4">
                                        <p id="show-path-course-name" class="text-sm font-medium text-gray-900 truncate dark:text-white">
                                            CTF
                                        </p>
                                        <p id="show-path-course-description" class="text-sm text-gray-500 truncate dark:text-gray-400">
                                            Learn the biggest Cybersecurity's event (CTF).
                                        </p>
                                    </div>
                                    <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">

                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
               </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
{% include 'components/footer_semi.html' %}


  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
  <script>
    var themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
var themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');

// Change the icons inside the button based on previous settings
if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
    themeToggleLightIcon.classList.remove('hidden');
} else {
    themeToggleDarkIcon.classList.remove('hidden');
}

var themeToggleBtn = document.getElementById('theme-toggle');

themeToggleBtn.addEventListener('click', function() {

    // toggle icons inside button
    themeToggleDarkIcon.classList.toggle('hidden');
    themeToggleLightIcon.classList.toggle('hidden');

    // if set via local storage previously
    if (localStorage.getItem('color-theme')) {
        if (localStorage.getItem('color-theme') === 'light') {
            document.documentElement.classList.add('dark');
            localStorage.setItem('color-theme', 'dark');
        } else {
            document.documentElement.classList.remove('dark');
            localStorage.setItem('color-theme', 'light');
        }

    // if NOT set via local storage previously
    } else {
        if (document.documentElement.classList.contains('dark')) {
            document.documentElement.classList.remove('dark');
            localStorage.setItem('color-theme', 'light');
        } else {
            document.documentElement.classList.add('dark');
            localStorage.setItem('color-theme', 'dark');
        }
    }
    
});

  </script> 
</body>
</html>