<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HackTheRealm</title>
    
        <!-- Tailwind CSS (from CDN for simplicity) -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
        <script src="https://cdn.tailwindcss.com"></script>
    
        <!-- Custom Styles (if any) -->
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
        <!-- Dark Mode Script -->
        <script>
            if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
                document.documentElement.classList.add('dark');
            } else {
                document.documentElement.classList.remove('dark');
            }
        </script>
    </head>    
<body>

    {% include 'components/navbar_user.html' %}


<!-- Banner Page-->
<div id="page_banner_static">
    <p id="page_banner_static_text" class=" text-3xl font-semibold text-gray-900 dark:text-white ">
        Learn
    </p>
</div>

<!-- main-container -->
<div>
    <!-- Swap tap -->
    <div id="user-learn-main-container">
        <div id="user-learn-main-tab-switch-container">
            <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-100 dark:border-cyan-600 dark:text-gray-800">
                <li class="me-2">
                    <a href="/learn.html" aria-current="page" class="inline-block p-4 text-blue-600 bg-gray-100 rounded-t-lg active dark:bg-cyan-600 dark:text-white">Learn</a>
                </li>
                <li class="me-2">
                    <a href="/practice.html" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-amber-600 dark:hover:text-white">Practice</a>
                </li>
                <li class="me-2">
                    <a href="/compete.html" class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-red-600 dark:hover:text-white">Compete</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- catagory button -->
    <div class="flex items-center justify-center mt-4 flex-wrap">
        <button  type="button" class="text-gray-900 border border-white hover:border-lime-400 dark:border-gray-900 dark:bg-transparent dark:hover:border-gray-700 dark:hover:bg-lime-400 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-gray-800 dark:focus:ring-gray-800">Cybersecurity</button>
        <button type="button" class="text-gray-900 border border-white hover:border-lime-400 dark:border-gray-900 dark:bg-transparent dark:hover:border-gray-700 dark:hover:bg-lime-400 bg-white focus:ring-4 focus:outline-none focus:ring-gray-300 rounded-full text-base font-medium px-5 py-2.5 text-center me-3 mb-3 dark:text-gray-800 dark:focus:ring-gray-800">Network</button>
    </div>
    <!-- catagory text -->
    <div id="text-show-primiry-course-cat">
    <div id="text-show-course-cat">
    <p  class="underline decoration-lime-400 text-4xl font-normal text-gray-900 dark:text-white">Cybersecurity</p>
    </div>
    </div>

    <!-- course cybersecurity-->
    <div id="user-learn-main-courses-container">
        <div id="user-learn-main-courses-container-all">
            <div id="user-learn-main-courses-container-all-row">
                <div id="user-learn-main-courses-container-all-row-left">
                    <div id="user-learn-main-courses-container-course-card" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-white ">
                            <a href="/ISO_27001.html">
                                <img class="rounded-t-lg" src="/Resource/Icon/ISO_27001_by_HYSAVUTH CHANESDA.png" alt="" />
                            </a>
                            <div class="p-5">
                                <a href="/ISO_27001.html">
                                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:gray-900">ISO 27001</h5>
                                </a>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-700">Discover ISO 27001, the global standard for information security management systems.</p>
                                <a href="/ISO_27001.html" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Enroll now
                                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                    </svg>
                                </a>
                            </div>
                    </div>
                    <div id="user-learn-main-courses-container-course-card" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-white ">
                            <a href="#">
                                <img class="rounded-t-lg" src="/Resource/Icon/ISO_27001_by_HYSAVUTH CHANESDA.png" alt="" />
                            </a>
                            <div class="p-5">
                                <a href="#">
                                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:gray-900">ISO 27001</h5>
                                </a>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-700">Discover ISO 27001, the global standard for information security management systems.</p>
                                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Enroll now
                                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                    </svg>
                                </a>
                            </div>
                    </div>         
                </div>
                <div id="user-learn-main-courses-container-all-row-right">
                    <div id="user-learn-main-courses-container-course-card" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-white ">
                            <a href="#">
                                <img class="rounded-t-lg" src="/Resource/Icon/ISO_27001_by_HYSAVUTH CHANESDA.png" alt="" />
                            </a>
                            <div class="p-5">
                                <a href="#">
                                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:gray-900">ISO 27001</h5>
                                </a>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-700">Discover ISO 27001, the global standard for information security management systems.</p>
                                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Enroll now
                                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                    </svg>
                                </a>
                            </div>
                    </div>
                    <div id="user-learn-main-courses-container-course-card" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-white ">
                            <a href="#">
                                <img class="rounded-t-lg" src="/Resource/Icon/ISO_27001_by_HYSAVUTH CHANESDA.png" alt="" />
                            </a>
                            <div class="p-5">
                                <a href="#">
                                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:gray-900">ISO 27001</h5>
                                </a>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-700">Discover ISO 27001, the global standard for information security management systems.</p>
                                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Enroll now
                                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                    </svg>
                                </a>
                            </div>
                    </div>         
                </div>                        
            </div>
            <div id="user-learn-main-courses-container-all-row">
                <div id="user-learn-main-courses-container-all-row-left">
                    <div id="user-learn-main-courses-container-course-card" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-white ">
                            <a href="#">
                                <img class="rounded-t-lg" src="/Resource/Icon/ISO_27001_by_HYSAVUTH CHANESDA.png" alt="" />
                            </a>
                            <div class="p-5">
                                <a href="#">
                                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:gray-900">ISO 27001</h5>
                                </a>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-700">Discover ISO 27001, the global standard for information security management systems.</p>
                                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Enroll now
                                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                    </svg>
                                </a>
                            </div>
                    </div>
                    <div id="user-learn-main-courses-container-course-card" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-white ">
                            <a href="#">
                                <img class="rounded-t-lg" src="/Resource/Icon/ISO_27001_by_HYSAVUTH CHANESDA.png" alt="" />
                            </a>
                            <div class="p-5">
                                <a href="#">
                                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:gray-900">ISO 27001</h5>
                                </a>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-700">Discover ISO 27001, the global standard for information security management systems.</p>
                                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Enroll now
                                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                    </svg>
                                </a>
                            </div>
                    </div>         
                </div>
                <div id="user-learn-main-courses-container-all-row-right">
                    <div id="user-learn-main-courses-container-course-card" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-white ">
                            <a href="#">
                                <img class="rounded-t-lg" src="/Resource/Icon/ISO_27001_by_HYSAVUTH CHANESDA.png" alt="" />
                            </a>
                            <div class="p-5">
                                <a href="#">
                                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:gray-900">ISO 27001</h5>
                                </a>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-700">Discover ISO 27001, the global standard for information security management systems.</p>
                                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Enroll now
                                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                    </svg>
                                </a>
                            </div>
                    </div>
                    <div id="user-learn-main-courses-container-course-card" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-white ">
                            <a href="#">
                                <img class="rounded-t-lg" src="/Resource/Icon/ISO_27001_by_HYSAVUTH CHANESDA.png" alt="" />
                            </a>
                            <div class="p-5">
                                <a href="#">
                                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:gray-900">ISO 27001</h5>
                                </a>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-700">Discover ISO 27001, the global standard for information security management systems.</p>
                                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Enroll now
                                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                    </svg>
                                </a>
                            </div>
                    </div>         
                </div>                        
            </div>            
        </div>
    </div>

    <!-- catagory text -->
    <div id="text-show-primiry-course-cat">
        <div id="text-show-course-cat">
            <p  class="underline decoration-lime-400 text-4xl font-normal text-gray-900 dark:text-white">Network</p>
        </div>
    </div>

    <!-- course network -->
    <div id="user-learn-main-courses-container">
        <div id="user-learn-main-courses-container-all">
            <div id="user-learn-main-courses-container-all-row">
                <div id="user-learn-main-courses-container-all-row-left">
                    <div id="user-learn-main-courses-container-course-card" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-white ">
                            <a href="#">
                                <img class="rounded-t-lg" src="/Resource/Icon/Network.png" alt="" />
                            </a>
                            <div class="p-5">
                                <a href="#">
                                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:gray-900">Fundamentals of Network</h5>
                                </a>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-700">Explore the world of Newtwork. You will able understand the fundamentals of Network.</p>
                                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Enroll now
                                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                    </svg>
                                </a>
                            </div>
                    </div>
                    <div id="user-learn-main-courses-container-course-card" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-white ">
                            <a href="#">
                                <img class="rounded-t-lg" src="/Resource/Icon/Network.png" alt="" />
                            </a>
                            <div class="p-5">
                                <a href="#">
                                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:gray-900">Fundamentals of Network</h5>
                                </a>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-700">Explore the world of Newtwork. You will able understand the fundamentals of Network.</p>
                                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Enroll now
                                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                    </svg>
                                </a>
                            </div>
                    </div>         
                </div>
                <div id="user-learn-main-courses-container-all-row-right">
                    <div id="user-learn-main-courses-container-course-card" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-white ">
                            <a href="#">
                                <img class="rounded-t-lg" src="/Resource/Icon/Network.png" alt="" />
                            </a>
                            <div class="p-5">
                                <a href="#">
                                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:gray-900">Fundamentals of Network</h5>
                                </a>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-700">Explore the world of Newtwork. You will able understand the fundamentals of Network.</p>
                                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Enroll now
                                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                    </svg>
                                </a>
                            </div>
                    </div>
                    <div id="user-learn-main-courses-container-course-card" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-white ">
                            <a href="#">
                                <img class="rounded-t-lg" src="/Resource/Icon/Network.png" alt="" />
                            </a>
                            <div class="p-5">
                                <a href="#">
                                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:gray-900">Fundamentals of Network</h5>
                                </a>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-700">Explore the world of Newtwork. You will able understand the fundamentals of Network.</p>
                                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Enroll now
                                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                    </svg>
                                </a>
                            </div>
                    </div>         
                </div>                        
            </div>
            <div id="user-learn-main-courses-container-all-row">
                <div id="user-learn-main-courses-container-all-row-left">
                    <div id="user-learn-main-courses-container-course-card" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-white ">
                            <a href="#">
                                <img class="rounded-t-lg" src="/Resource/Icon/Network.png" alt="" />
                            </a>
                            <div class="p-5">
                                <a href="#">
                                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:gray-900">Fundamentals of Network</h5>
                                </a>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-700">Explore the world of Newtwork. You will able understand the fundamentals of Network.</p>
                                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Enroll now
                                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                    </svg>
                                </a>
                            </div>
                    </div>
                    <div id="user-learn-main-courses-container-course-card" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-white ">
                            <a href="#">
                                <img class="rounded-t-lg" src="/Resource/Icon/Network.png" alt="" />
                            </a>
                            <div class="p-5">
                                <a href="#">
                                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:gray-900">Fundamentals of Network</h5>
                                </a>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-700">Explore the world of Newtwork. You will able understand the fundamentals of Network.</p>
                                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Enroll now
                                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                    </svg>
                                </a>
                            </div>
                    </div>         
                </div>
                <div id="user-learn-main-courses-container-all-row-right">
                    <div id="user-learn-main-courses-container-course-card" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-white ">
                            <a href="#">
                                <img class="rounded-t-lg" src="/Resource/Icon/Network.png" alt="" />
                            </a>
                            <div class="p-5">
                                <a href="#">
                                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:gray-900">Fundamentals of Network</h5>
                                </a>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-700">Explore the world of Newtwork. You will able understand the fundamentals of Network.</p>
                                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Enroll now
                                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                    </svg>
                                </a>
                            </div>
                    </div>
                    <div id="user-learn-main-courses-container-course-card" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-white ">
                            <a href="#">
                                <img class="rounded-t-lg" src="/Resource/Icon/Network.png" alt="" />
                            </a>
                            <div class="p-5">
                                <a href="#">
                                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:gray-900">Fundamentals of Network</h5>
                                </a>
                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-700">Explore the world of Newtwork. You will able understand the fundamentals of Network.</p>
                                <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    Enroll now
                                    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                                    </svg>
                                </a>
                            </div>
                    </div>         
                </div>                        
            </div>       
        </div>
    </div>
</div>

 <!-- Footer -->
 {% include 'components/footer_semi.html' %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script>
      var themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
  var themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');
  
  // Change the icons inside the button based on previous settings
  if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      themeToggleLightIcon.classList.remove('hidden');
  } else {
      themeToggleDarkIcon.classList.remove('hidden');
  }
  
  var themeToggleBtn = document.getElementById('theme-toggle');
  
  themeToggleBtn.addEventListener('click', function() {
  
      // toggle icons inside button
      themeToggleDarkIcon.classList.toggle('hidden');
      themeToggleLightIcon.classList.toggle('hidden');
  
      // if set via local storage previously
      if (localStorage.getItem('color-theme')) {
          if (localStorage.getItem('color-theme') === 'light') {
              document.documentElement.classList.add('dark');
              localStorage.setItem('color-theme', 'dark');
          } else {
              document.documentElement.classList.remove('dark');
              localStorage.setItem('color-theme', 'light');
          }
  
      // if NOT set via local storage previously
      } else {
          if (document.documentElement.classList.contains('dark')) {
              document.documentElement.classList.remove('dark');
              localStorage.setItem('color-theme', 'light');
          } else {
              document.documentElement.classList.add('dark');
              localStorage.setItem('color-theme', 'dark');
          }
      }
      
  });
  
    </script>    
</body>
</html>