html{
    scroll-behavior: smooth;
    background-color:#DDE6ED ;
}
#logo-box img{
    width: 80%;
    height: 80%;
}
#navbar-guest{
    padding: 2px 16px 2px 16px;
    display: flex;
}
#logo-box{
    width: 7rem;
    height: 5rem;
}

#big-navbar{
  background-color: #1D2837;
}
#navbar-signup-login{
    justify-self: end; /* Align to the end (right) */
    align-self: center; /* Align vertically to the center */
    display: flex;
    width: auto;
    margin-top: 1rem;
    margin-bottom:   1rem;
    margin-left: auto; /* Push to the right */
}
#nav-signup-btn{
    width: 7rem;
}
#mega-menu-full{
    width: 90%;
    background: transparent;
}
#mega-menu-full ul{
    align-items: left; /* Align items to the left */
    justify-content: left; /* Justify content (if any) to the left */
    background: transparent;
}   
#guest-dashboard{
    justify-content: center; /* horizontally center */
    align-items: center; /* vertically center */
    display: flex;
    height: 45rem;
    background: linear-gradient(135deg, #27374D, #4E4376);
}
#guest-dashboard-img{
    max-width: 30rem;
    height: 25rem;
    margin-left: 10rem;
}
#guest-dashboard-box{
    height: auto;
    max-width: 35rem;
    border-radius: 5%;
    background: linear-gradient(135deg, #4E4376, #27374D);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
#nav-getstart-btn{
    margin-left: 1rem;
    width: 7rem;
    height: 2.9rem;
}
#guest-dashboard-box-input{
    width: 20rem;
    border: 3px solid rgb(152, 204, 32);
    color:gray;
    background-color: white;
}
#guest-dashboard-box-text{
    padding: 1rem;
    height: auto;
    border: transparent;
    box-shadow: none;
    background : transparent;
}
#guest-dashboard-box-text h5{
   margin-bottom: 1.5rem;
}
#guest-dashboard-box-text p{ 
    margin: auto;   
    padding-left: 1rem;
}
#guest-dashboard-box-input-account{
    margin: 0;
    background: transparent;
    display: flex;
}
#trust-by-logo-grid {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr)); /* Defines 5 equal-width columns */
    gap: 0; /* Adjust the gap value as needed */
    margin: 0 auto; /* Center the grid horizontally */
    justify-items: center; /* horizontally center */
    align-items: center; /* vertically center */
}
#trust-by-title {
    font-family:sans-serif;
    margin-top: 1rem;
    display: flex; /* Set display to flex */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
}
#trust-by-logo {
    margin-top: 2rem;
    height: 7rem;
    width: 7rem;
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center; /* vertically center */
}

#trust-by-logo img {
    max-width: 100%; /* Adjust the maximum width as needed */
    height: auto; /* Maintain the aspect ratio */
}
#what-we-do{ 
 
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center; /* vertically center */
}
#what-we-do img{    
    margin-left:10rem ;
}
#what-we-do-box p{
    color: #2f2f2f;
}
#what-we-do-box h5{
    color: #2f2f2f;
}     
#what-we-do-box{
    background:#DDE6ED;
}
.hr-container {
    margin-bottom: 1rem;  
    margin-top: 1rem; 
    display: flex;
    justify-content: center; /* horizontally center */  
    align-items: center; /* vertically center */
}
.hr-container hr {
    height: 2px;
    width: 50%;
}
.hr-container-box{
    justify-content: center;
    align-items: center;
    display: flex;
}
.hr-container-box hr{
    margin: 3rem 1rem 3rem 1rem;
}

#deep-info-container {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    /* You may also need to specify a height if necessary */
}

#deep-info {
    width: 90%;
    /* Since #deep-info is within #deep-info-container, you may not need to specify centering properties again */
}
#defaultTab{
    display: flex; /* Ensure li elements are displayed as flex containers */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */    
}
#deep-info-content-each{
    display:flex;
}
#deep-info-content-each h2{
    margin-left: 5rem;
}
#deep-info-content-each p{
    margin-left: 5rem;
}
#button-signup-community{
    margin-top: 1.5rem;
    display: flex; /* Ensure li elements are displayed as flex containers */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */    
}
#button-sig-com-signup{  
    margin-right:2rem;
}
#button-sig-com-community{
    margin-left:2rem;
}
#button-sig-com-community svg{
    margin-right:0.5rem;
}
#guest-community-rating{
    margin-bottom: 5rem;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */ 
}
#guest-community-rating-grid{
    display: grid;
    margin: 0 auto; /* Center the grid horizontally */
    justify-items: center; /* horizontally center */
    align-items: center; /* vertically center */
    width: 70rem;
}
#footer-button-signup{
    margin-top: 0.2rem;
    margin-bottom: 2rem;
    display: flex; /* Ensure li elements are displayed as flex containers */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */    
}
#guest-course{
    height: 30rem;
}
#guest-pre-course{
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */ 
}
#preview-course-title{
    margin: 2rem;
    display: flex; /* Ensure li elements are displayed as flex containers */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */    
}
#preview-course-course{
    display: flex; /* Ensure li elements are displayed as flex containers */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */    
}
#guest-course{
    margin: 0 1rem 5rem 1rem
}
#page_banner_static p{
    padding: 1.5rem;
    background: #27374D;
    display: flex; /* Ensure li elements are displayed as flex containers */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */    
}
#main-user-dashboard-container{
    display: flex;
    justify-content: center; /* Horizontally center */
}
#user-dashboard-info-container {
    margin-bottom: 2rem;
}
#user-dashboard-activity-container {
    margin-bottom: 2rem;
}
#user-dashboard-invite-container {
    margin-bottom: 2rem;
}
#user-dashboard-activity-container a{
    background-color: transparent;  
}
#user-dashboard-activity-container h5{
    color: #2f2f2f; 
}
#user-dashboard-invite-container div{
    background-color: transparent; 
}   
#user-dashboard-invite-container h5{
    color: #2f2f2f;
}
#user-dashboard-invite-container button{
    margin-left: 12.9rem;
}
#user-dashboard-info-container-divup{
    display: flex;
}
#user-dashboard-info-container-divup-1{
    margin-left: 2rem;
}
#user-dashboard-info-container-divup-2{
    width: 14rem;
}
#user-dashboard-info-container-divup-2-next-level{
    display: flex;
    justify-content: flex-end;
}
#hr-long-1{
    width: 100%;
}
#right-user-dashboard-container{
    width: auto;
    padding-left: 5rem ;
}
#controls-carousel{
    max-width: 48rem;
}
#image-slider-user-dashboard{
    height: 27rem;
    width: 48rem;
}
#text-show-new-release{
    margin-bottom: 1.5rem;
}
#show-recommend{
    margin-top: 2rem;
}
#show-recommend-slide{
    width: 48rem;
}
#show-your-path-slide-courses{
    padding: 0;
    width: full;
}
#show-path-course-name{
    font-weight: 700;
    font-size:medium;
    color:#2f2f2f
}
#show-path-course-description{
    font-weight: 600;
    font-size: small;
    color:gray;
}
#show-your-path-slide-courses{
    background-color: transparent;
}
#show-your-path{
    margin-top: 2rem;
}
#user-learn-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
#user-learn-main-tab-switch-container{
    justify-content: center;
    align-items: center;
    width: 100%;
}
#user-learn-main-tab-switch-container ul{
    justify-content: center;
    align-items: center;
}
#user-learn-main-courses-container-all-row{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1rem;
}
#user-learn-main-courses-container-course-card{
    margin-top: 1rem;
    max-width: 20rem;
    height:25rem ;
}
#user-learn-main-courses-container-all-row-left,
#user-learn-main-courses-container-all-row-right{
    display: flex;
    gap: 1rem;
}
#text-show-course-cat{
    width: 86rem;
}
#text-show-course-cat p{
    font-weight: 600;
    color: #2f2f2f;
}
#text-show-primiry-course-cat{
    margin-top: 3rem;
    width: full;
    display: flex;
    justify-content: center;
    align-items: center;
}
#explore-search-bar{
    margin-top: 3rem;
    width: 83rem;
}
#explore-filter-bar{
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 83rem;
    display: flex;
    gap: 1rem;
}
#explore-page-navigetion{
    margin-top: 7rem;
    justify-content:center;
    display: flex;
}
#table-rank-top-4-50-container{
    width: full;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0 10rem 0 10rem;
}
#table-user-name-profile{
    display: flex;
    align-items: center;
    gap:1rem;
    
}
#comepte-banner-main-container{
    margin-bottom: 2rem;
    display: flex;
    padding: 2rem 10rem 2rem 10rem;
    gap: 10rem;
    justify-content: center;
    align-items: center;
}
#compete-text-main-container{
    width: auto;
}
#compete-how-to-container{
    gap: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#compete-btn-section{
    display: flex;
    justify-content: center;
    align-items: center;
}
#compete-btn-section-sub{
    gap:10rem
}
#compete-join-public-btn,#compete-create-private-btn{
    display: flex;
    padding: 1rem;
    border-radius: 5px;
    background: linear-gradient(135deg, #27374D, #4E4376);
    width: 24rem;
    height: 7rem;
    align-items: center;
}
#compete-join-public-btn:hover,#compete-create-private-btn:hover{
    background: linear-gradient(135deg,#4E4376, #27374D);
}
#compete-fqa{
    width: 70%;
}
#compete-fqa-section{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1320px){
    
    #deep-info-content-each h2 {
        text-align: center; /* Center the text horizontally */
        margin: 2rem 0 0 0; /* Adjust margin as needed */
    }
    #deep-info-content-each p{
        margin:  1rem
    }
    #deep-info-content-each{
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }
    #mega-menu-full{
        width: 85%;
    }
    #nav-getstart-btn{
        padding: 0 0.5rem; /* Adjust padding to keep the text inside the button */
    }
    #guest-dashboard-box-input{
        width: 14rem;
    }
    #guest-dashboard {
        height: auto; /* Auto height for smaller screens */
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }

    #guest-dashboard-box {
        margin-top: 4rem ;
        width: 25rem; /* Adjust width for smaller screens */
    }

    #guest-dashboard-box-input-account {
        width: 100%; /* Set width to 100% to fill the container */
    }

    #guest-dashboard-img {
        order: 2; /* Change the order to display image below */
        margin: 1rem auto; /* Add margin to center the image horizontally */
    }
    #footer{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    #what-we-do img{
        order: 2; /* Change the order to display image below */
        margin: 0.5rem; /* Add margin to center the image horizontally */
    }
    #guest-community-rating{
        grid-template-columns: repeat(3, minmax(0, 1fr));
        width: auto;
        justify-items: center; /* Horizontally center items */
        align-items: center; /* Vertically center items */
    }
    #guest-community-rating-grid{
        width: 80%; /* Adjust width for smaller screens */
        grid-template-columns: repeat(3, minmax(0, 1fr)); /* Three columns for smaller screens */
    }
    #preview-course-course{
        height: auto; /* Auto height for smaller screens */
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }
    #main-user-dashboard-container{
        justify-content: center; /* Horizontally center items */
        align-items: center; /* Vertically center items */
        display: block;
    }
    #right-user-dashboard-container{
        padding: 0;
    }
    #user-dashboard-info-container,
    #user-dashboard-activity-container,
    #user-dashboard-invite-container{
        display: flex;
        justify-content: center; /* Horizontally center items */
        align-items: center; /* Vertically center items */
    }
    #user-dashboard-info-container-box{
        width: 30rem;
    }
    #user-dashboard-activity-container-box{
        width: 30rem;
    }
    #user-dashboard-invite-container-box{
        width: 30rem;
    }
    #show-new-release{
        display: flex;
        justify-content: center; /* Horizontally center items */
        align-items: center; /* Vertically center items */
    }
    #image-slider-user-dashboard{
        border-radius: 7;
        width: 30rem; /* Adjusts the slideshow width to fit its container */
        height: 17rem;
    }
    #show-recommend-slide{
        width: 30rem;
    }
    #show-recommend{
        display: flex;
        justify-content: center; /* Horizontally center items */
        align-items: center; /* Vertically center items */
    }
    #show-your-path{
        display: flex;
        justify-content: center; /* Horizontally center items */
        align-items: center; /* Vertically center items */
    }
    #show-your-path-slide-courses{
        width: 30rem;
    }
    #user-learn-main-courses-container-all-row-left,
    #user-learn-main-courses-container-all-row-right{
    display: block;
    gap: 2rem;
    }
    #text-show-course-cat{
        width: 43rem;
    }
    #explore-search-bar{
        width: 41rem;
    }
    #explore-filter-bar{
        width: 41rem;;
    }
}
@media screen and (max-width: 1200px) {
    #comepte-banner-main-container{
        display:block;
        padding: 2rem 5rem 2rem 5rem;
        justify-content: center;
        align-items: center;
    }
    #compete-btn-section-sub{
        gap:2rem;
    }
    
}
/* Media query for smaller screens (e.g., mobile phones) */
@media screen and (max-width: 780px) {
    #mega-menu-full{
        width: 80%;
    }
    #nav-getstart-btn{
        padding: 0 0.5rem; /* Adjust padding to keep the text inside the button */
    }
    #guest-dashboard-box-input{
        width: 14rem;
    }
    #guest-dashboard {
        height: auto; /* Auto height for smaller screens */
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }

    #guest-dashboard-box {
        margin-top: 4rem ;
        width: 25rem; /* Adjust width for smaller screens */
    }

    #guest-dashboard-box-input-account {
        width: 100%; /* Set width to 100% to fill the container */
    }

    #guest-dashboard-img {
        order: 2; /* Change the order to display image below */
        margin: 1rem auto; /* Add margin to center the image horizontally */
    }
    #trust-by-logo-grid {
        grid-template-columns: repeat(3, minmax(0, 1fr)); /* Three columns for smaller screens */
        justify-items: center; /* Horizontally center items */
        align-items: center; /* Vertically center items */
    }
    #what-we-do{
        height: auto; /* Auto height for smaller screens */
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }
    #what-we-do img{
        order: 2; /* Change the order to display image below */
        margin: 1rem auto; /* Add margin to center the image horizontally */
    }
    #button-sig-com-signup{  
        margin-right: 0.5rem;
        margin-left: 0.5rem;
    }
    #button-sig-com-community{
        margin-left:0.5rem;
    }
    #guest-community-rating{
        grid-template-columns: repeat(3, minmax(0, 1fr));
        width: auto;
    }
    #guest-community-rating-grid{
        width: 80%; /* Adjust width for smaller screens */
    }
    #preview-course-course{
        height: auto; /* Auto height for smaller screens */
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
    }
    #main-user-dashboard-container{
        display: block;
    }
    #user-learn-main-courses-container-all-row{
        display: block;
    
    }
    #user-learn-main-courses-container{
        display:flex;
        justify-content: center;
    
    }
    #text-show-course-cat{
        width: full;
        display: flex;
        justify-content: center;
    }   
    #explore-search-bar{
        width: 25rem;
    }
    #explore-filter-bar{
        width: 25rem;;
    }
    #comepte-banner-main-container{
        display:block;
        padding: 2rem 5rem 2rem 5rem;
        justify-content: center;
        align-items: center;
    }
    #comepte-banner-main-container img{
        margin-top: 2rem;
        padding-right: 5.5rem;
    }
    #compete-how-to-container{
        display: block;
        justify-content: center;
        align-items: center;
    }
    #compete-text-main-container{        
        display: flex;
        justify-content: center;
    }
    #compete-machine-main-container,#compete-text-main-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #compete-btn-section-sub{
        display: block;
    }
    #compete-join-public-btn,#compete-create-private-btn{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}
@media screen and (max-width: 460px){
    #user-dashboard-info-container-divup-2{
        width: 10rem;
    }
    #user-dashboard-info-container-divup-2 span{
        font-size: small;
    }
    #user-dashboard-info-container-divup-2-next-level{
        display: flex;
        justify-content: flex-end;
    }
    #user-dashboard-invite-container-box button{
        margin-left: 12rem;
        width: 8rem;
    }
    #user-dashboard-info-container-box{
        width: 25rem;
    }
    #user-dashboard-activity-container-box{
        width: 25rem;
    }
    #user-dashboard-invite-container-box{
        width: 25rem;
    }
    #image-slider-user-dashboard{
        border-radius: 7;
        width: 25rem; /* Adjusts the slideshow width to fit its container */
        height: 14rem;
    }
    #show-recommend-slide{
        width: 25rem;
    }
    #show-recommend{
        display: flex;
        justify-content: center; /* Horizontally center items */
        align-items: center; /* Vertically center items */
    }
    #show-your-path{
        display: flex;
        justify-content: center; /* Horizontally center items */
        align-items: center; /* Vertically center items */
    }
    #show-your-path-slide-courses{
        width: 25rem;
    }
    #comepte-banner-main-container{
        display:block;
        padding: 2rem 1rem 2rem 1rem;
        justify-content: center;
        align-items: center;
    }
    #comepte-banner-main-container img{
        margin-top: 2rem;
        padding-right: 5.5rem;
    }
}
